/* THis is the style sheet for the weather sit */

/* Tabel of contents:
1. Imports
2. General Rules
3. Mobile First Rules
4. Larger Screen Rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* section 2 - General Rules */
#page-head {
    background-color: #0e89d5;
    display: flex;
}

.hide{
    display: none;
}

#heading {
    font-size: 30px;
    margin: 0px;
    align-self: center;
}

h1 {
    margin: 0;
}

#location-information ul {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-size: 12px;
}

#logo {
    justify-content: flex-start;
    margin-left: 3px;
    margin-top: 3px;
    margin: 3px;
    width: 15%;
    height: 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sansita', sans-serif;
}

nav {
    /* position: top; */
    width: 100%;
    /* bottom: 0;
    left: 0; */
    background-color: #0e89d5;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin: 0px;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}


body {
    /* font-size:1.5em; same as font-size: 18px */
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFF;

}

#current {
    font-size: 30px;
    justify-content: center;
}

#dialBlah {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/weather-site-images/images/wind-pointer.png');
    z-index: 100;
    margin: .6em auto 0;
}

.n {
    transform: rotate(0deg);
}

.ne {
    transform: rotate(45deg);
}

.e {
    transform: rotate(90deg);
}

.se {
    transform: rotate(135deg);
}

.s {
    transform: rotate(180deg);
}

.sw {
    transform: rotate(225deg);
}

.w {
    transform: rotate(270deg);
}

.nw {
    transform: rotate(315deg);
}


#mph {
    font-size: 28px;
    margin-top: -85px;
    margin-right: -5px;
    align-content: center;
}

#direction {
    align-content: center;
    align-content: flex-end;
    margin-top: 80px;
}

.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#high {
    color: red
}

#low {
    color: steelblue
}

#cur_weather {
    /* max-width: 100%; */
    background-size: 100% 100%;
}

#hourly {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    overflow: auto;
    overflow: scroll;
    white-space: nowrap;
    margin-top: 0px;
    padding-left: 10px;
}


#hourly ul li {
    display: inline-block;
    padding: 3px;
    text-decoration: none
}

footer {
    background-color: #0e89d5;
}

#weather img {
    background-image: url("blah");
    max-width: 100%;
}

/* Section 3 -Mobile First Rules */

#page-head {
    display: flex;

}

#speed {
    flex-direction: column;
}

#location-information {
    align-content: space-around;
}


/* resize images */
#container img {
    width: 100px;
    height: 100px;
}

#cur_weather {
    max-width: 100%;
}



footer {
    margin-bottom: 60px;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

#hourly ul {
    overflow: auto;
    overflow: scroll;
    white-space: nowrap;
    margin-top: 0px;
    padding-left: 10px;
}

#hourly ul li {
    display: inline-block;
    padding: 3px;
    text-decoration: none
}

#current_weather {
    /* background-size: 1000px; */
    background-size: 100% 100%;
    text-align: center;
}

.snow {
    background-image: url("/weather/images/snow-small.jpg");
}

.cloudy {
    background-image: url("/weather/images/clouds-small.jpg");
}

.rain {
    background-image: url("/weather/images/raindrops-small.jpg");
}

.fog {
    background-image: url("/weather/images/fog-small.jpg");
}

.clear {
    background-image: url("/weather/images/clear-small.jpg");
}



/* Section 4 - Larger Screens */
@media screen AND (min-width: 700px) {
    #current_weather {
        flex-direction: row;
        display: flex;
        background-size: 1700px;
    } 

    
nav {
    position: relative; 
    width: 100%;
    /* bottom: 0;
    left: 0; */
    background-color: #0e89d5;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin: 0px;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}
    .tile {
        flex-grow: 1;
    }

    .snow{
        background-image: url("/weather/images/snow-large.jpg");
    }
    
    .cloudy{
        background-image: url("/weather/images/clouds-large.jpg");
    }
    
    .rain{
        background-image: url("/weather/images/raindrops-large.jpg");
    }
    
    .fog{
        background-image: url("/weather/images/fog-large.jpg");
    }
    
    .clear{
        background-image: url("/weather/images/clear-large.jpg");
    }
    
    nav {
        width: 100%;
        background-color: #0e89d5;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0%;
    }
    
    nav ul li {
        list-style: none;
        margin-right: 10px;
    }
    
    nav ul li a {
        font-size: 18px;
        text-decoration: none;
        color: white;
    }
    
    li {
        list-style: none;
    }

    /* >>>>>>> f80d0e3220d2a52ded45e9561f70eed9ebf2603a */
}
