/* THis is the style sheet for the weather sit */

/* Tabel of contents:
1. Imports
2. General Rules
3. Mobile First Rules
4. Larger Screen Rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* section 2 - General Rules */
#page-head {
    background-color: #0e89d5;
    display: flex;
}

#heading {
    font-size: 30px;
    margin: 0px;
    align-self: center;
}

.practice{
        background-color: rgba(200, 200, 200, .6);
        margin: .2em auto;
        border: 1px solid;
        border-radius: 15px;
    }


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sansita', sans-serif;
}

/* Section 3 -Mobile First Rules */
.practice {
    flex-direction: column-reverse;
    align-content: space-around;
}

#brige{
    max-width: 100%;
}

#cactuss{
    max-width: 100%;
}

#gc{
    max-width: 100%;
}

#new{
    max-width: 100%;
}

#ruinss{
    max-width: 100%;
}

#trale{
    max-width: 100%;
}

/* Section 4 - Larger Screens */
@media screen AND (min-width: 700px) {
    .practice {
        flex-direction: row;
        align-content: space-between;
    }
}