/* THis is the style sheet for the weather sit */

/* Tabel of contents:
1. Imports
2. General Rules
3. Mobile First Rules
4. Larger Screen Rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* section 2 - General Rules */
#page-head {
    background-color: #0e89d5;
    display: flex;
}

#heading {
    font-size: 30px;
    margin: 0px;
    align-self: center;
}

h1 {
    margin: 0;
}

#location-information ul {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-size: 12px;
}

#logo {
    justify-content: flex-start;
    margin-left: 3px;
    margin-top: 3px;
    margin: 3px;
    width: 15%;
    height: 15%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', sans-serif;
}

body {
    /* font-size:1.5em; same as font-size: 18px */
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFF;

}

#current-temp {
    font-size: 30px;
    justify-content: center;
}

#pointer {
    justify-content: center;
        transform: rotate(220deg);
}

#mph {
    font-size: 28px;
    margin-top: -120px;
    margin-right: 40px;
    align-content: center;
}

#direction{
align-content: center;
align-content: flex-end;
margin-top: 80px;
}

.tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#current_weather {
    background-image: url(/weather/weather-site-images/images/rain.jpg);
    background-size: 1000px;
    text-align: center;
}

#hourly {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#weather img {
    background-image: "weather-site-images/images/rain.jpg";
    max-width: 100%;
}

footer {
    background-color: #0e89d5;
}

/* Section 3 -Mobile First Rules */

#page-head {
    display: flex;

}



#location-information {
    align-content: space-around;
}


/* resize images */
#container img {
    width: 100px;
    height: 100px;
}

#rainn {
    max-width: 100%;
}

#high {
    color: red
}

#low {
    color: steelblue
}

footer {
    margin-bottom: 60px;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
}

nav ul li {
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

#hourly ul {
    overflow: auto;
    overflow: scroll;
    white-space: nowrap;
    margin-top: 0px;
    padding-left: 10px;
}

#hourly ul li {
    display: inline-block;
    padding: 3px;
    text-decoration: none
}

/* Section 4 - Larger Screens */