/* THis is the style sheet for the weather sit */

/* Tabel of contents:
1. Imports
2. General Rules
3. Mobile First Rules
4. Larger Screen Rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* section 2 - General Rules */
header {
    width: 100%;
    height: 133px;
    font-size: 30px;
    background-color: #0e89d5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita', sans-serif;
}

body {
    /* font-size:1.5em; same as font-size: 18px */
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFF;

}
    #weather img{
       background-image: "weather-site-images/images/rain.jpg"; 
       max-width: 100%;
    }
    
footer {
    background-color: #0e89d5;
}

/* Section 3 -Mobile First Rules */

.container {
    width: 400px;
    height: 200px;
}
    #logo {
        float: left;
        max-width: 10px;
        max-height: 10px;
    }
    #site-brand{
        font-size: 2em;
        margin-left: 10px;
        display: inline;
        font-weight: 60;
    }


/* resize images */
#container img {
    width: 100px;
    height: 100px;
}
#wind img {
    width: 100px;
    height: auto;
}
#high {
    color: red
}
#low{
    color: steelblue
}
#weather img {
    width: 10px;
    height: auto;
}



/* Section 4 - Larger Screens */