Weather/franklinWebPage.html
Weather/responsive_media/responsive_media/css/style.css
Weather/responsive_media/responsive_media/css/style.css
Weather/responsive_media/responsive_media/images/grand_canyon/weather_compression.html
Weather/responsive_media/responsive_media/js/picturefill.min.js
