/* THis is the style sheet for the weather sit */

/* Tabel of contents:
1. Imports
2. General Rules
3. Mobile First Rules
4. Larger Screen Rules */

/* Section 1 - Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* section 2 - General Rules */
#page-head {
    background-color: #0e89d5;
    display: flex;
}

#heading {
    font-size: 30px;
    margin: 0px;
    align-self: center;
}

.practice{
        background-color: rgba(200, 200, 200, .6);
        margin: .2em auto;
        border: 1px solid;
        border-radius: 15px;
    }


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sansita', sans-serif;
}

/* Section 3 -Mobile First Rules */
.practice {
    flex-direction: column-reverse;
    align-content: space-around;
}

#logo{
    max-width: 100%;
    font-display: "Weight: 32kb";
    font-display: "Height: 99 pixles";
    font-display: "Width: 100 pixles";
}

#rain{
    max-width: 100%;
    font-display: "Weight: 24 kb";
    font-display: "Height: 333 pixles";
    font-display: "Width: 500 pixles";
}

#clear{
    max-width: 100%;
    font-display: "Weight: 32kb";
    font-display: "Height: 150 pixles";
    font-display: "Width: 149 pixles";
}

#snow{
    max-width: 100%;
    font-display: "Weight: 32kb";
    font-display: "Height: 150 pixles";
    font-display: "Width: 149 pixles";
}

#pointer{
    max-width: 100%;
    font-display: "Weight: 32kb";
    font-display: "Height: 150 pixles";
    font-display: "Width: 149 pixles";
}

#fog{
    max-width: 100%;
    font-display: "Weigth: 24kb";
    font-display: "Height: 500 pixles";
    font-display: "Width: 281 pixles";
}

#clouds{
    max-width: 100%;
    font-display: "24 kb";
    font-display: "Height: 500 pixles";
    font-display: "Width: 500 pixles";
}

/* Section 4 - Larger Screens */
@media screen AND (min-width: 700px) {
    .practice {
        flex-direction: row;
        align-content: space-between;
    }
    #logo2{
        max-width: 100%;
        font-display: "Weight: 24kb";
        font-display: "Height: 132 pixles";
        font-display: "Width: 134 pixles";
    }
    #rain2{
        max-width: 100%;
        font-display: "Weight: 167kb";
        font-display: "Height: 1280 pixles";
        font-display: "Width: 1920 pixles";
    }
    #clear2{
        max-width: 100%;
        font-display: "Weight: 32kb";
        font-display: "Height: 150 pixles";
        font-display: "Width: 149 pixles";
    }
    #snow2{
        max-width: 100%;
        font-display: "Weight: 24kb";
        font-display: "Height: 3916 pixles";
        font-display: "Width: 5872 pixles";
    }
    #pointer2{
        max-width: 100%;
        font-display: "Weight: 2.98kb";
        font-display: "Height: 166 pixles";
        font-display: "Width: 167 pixles";
    }
    #fog2{
        max-width: 100%;
        font-display: "Weight: 24kb";
        font-display: "Height: 1836 pixles";
        font-display: "Width: 3264 pixles";
    }
    #clouds2{
        max-width: 100%;
        font-display: "Weight: 24kb";
        font-display: "Height: 1280 pixles";
        font-display: "Width: 1280 pixles";
    } 
}